$font-family: 'TitilliumWeb', Helvetica, sans-serif;
$c-bg: #979899;
$c-header-bg: #2d2e2e;
$c-white: white;
$c-title: #a4a5a6;
$c-bg-header:#404242;
$c-border: #404242;
$c-bg-main-header: #282929;
$c-hover: #e0a80d;
